/*

#d9dbdf light blue
#64585f link/border,subsection text
#f0933c redorange
#978a92 section
#cfd6e6 subsection,button bg

*/
*
{
	font-family : Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
}

a, a:visited
{
	color:#6666cc;
	background-color: inherit;
	cursor:pointer;
}

a.page-left, a:visited.page-left, a.page-right, a:visited.page-right
{
	color: #FFF;
	background-color: inherit;
	cursor: pointer;
	text-decoration: none;
	display: block;
	width:25px;
	background-repeat: no-repeat;
	height: 17px;
}

 a.page-left
 {
 	float: left;
	background-image: url(/images/left.gif);
	background-position: top right;
 }

 a.page-right
 {
 	float: right;
	background-image: url("/images/right.gif");
	background-position: top left;
 }

 div#paging
 {
 	width: 50px;
 	float: right;
 }

a.more
{
	background-image: url('/images/more.gif');
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 2px 16px;
	margin: 0 4px 0 0;
	text-decoration: none;
	/*display: block;*/
}

a.print, a.print:visited
{
	background-image:url('../images/print.gif');
	background-position:left;
	background-repeat:no-repeat;
	background-color:#F4F4F4;
	padding: 2px 7px 2px 18px;
	margin: 0px 3px 0px 3px;
	border:1px solid #666666;
	font-weight:bold;
	color: #666666;
	text-decoration: none;
}
a.print:hover
{
   border:1px solid #31d80a;
}

body,html
{
	margin:0;
	padding:0;
	height:100%;
}

/* formas sadaļa */
div#big
{
	position:absolute;
	color: inherit;
	background:#ffffff;
        min-width: 580px;
	top:100px;
	left:315px;
	padding:0px 0px 0px 0px;
	border: 1px solid #cccccc;
        margin-right: 5px;
}

/* labā sadaļa, kur ir pogas, saraksti */
div#small
{
	position:absolute;
	top:100px;
	left:5px;
	color: inherit;
	background:#ffffff;
	width:300px;
	border: 1px solid #cccccc;
        overflow: hidden;
}

div#full
{
	position:absolute;
	color: inherit;
	background:#ffffff;
	width:900px;
	top:75px;
	left:0px;
	padding:0px 0px 0px 0px;
	border: 1px solid #cccccc;
}

form{margin:0;padding:0;}

/* formu sadaļa */

/* table common */
table.form,table.list,table.form-list,table.empty
{
	width:100%;
	margin:0px;
	border-collapse:collapse;
	page-break-inside:auto;
}

table.form {max-width: 800px;}

table.list-big td , table.list-big td a  {
    
    font-size: 12px;
}

table.list-big td.section
{
	
	padding-left:20px;
	height: 20px;
	color:#000;
	text-align: left;
	font-weight:normal;
	font-size:20px;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px 0px 1px 0px;
}

table.list-big th
{
	background-color: #82827f;
/*	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;  
	font-weight:bold;  */
	color:#ffffff;
	text-align:left;
        font-size: 12px; 
	
}

table.list-big td.subsection, table.list-big tr.total td
{
	background-color:#82827f;
	height: 20px;
	padding-left: 0px;
	text-align: right;    
	color:#FFF;
	font-weight:bold;
	font-size:12px;
	border-top:1px solid #ffffff;
    border-bottom:1px solid #FFFFFF;
}

table.form td,table.form th, table.list td, table.list th
{
	height:20px;
	padding: 1px 1px 1px 2px;
}

table.form td.section, table.list td.section, table.form-list td.section
{
	background-color:#978a92;
	padding-left:20px;
	height: 20px;
	color:#ffffff;
	text-align: left;
	font-weight:bold;
	font-size:10px;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px 0px 1px 0px;
}

table.form td.subsection, table.list td.subsection, table.form-list td.subsection,
table.list tr.total td, table.form-list tr.total td
{
	background-color:#d9dbdf;
	height: 20px;
	padding-left: 0px;
	text-align: right;    
	color:#64585f;
	font-weight:bold;
	font-size:10px;
	border-top:1px solid #ffffff;
    border-bottom:1px solid #FFFFFF;
}
table.list tr.total td.left, table.form-list tr.total td.left
{
	padding-left:20px;    
	text-align: left;
    
}

table.form td.button, table.list td.button, table.form-list td.button
{
	color: #000000;
	background-color: #d9dbdf;
	border-top:1px solid #64585f;
	border-bottom:1px solid #FFFFFF;
	height: 25px;
	vertical-align:middle;
	padding-right:20px;
	text-align:right;
}

table.form td.info
{
	height: 35px;
	color:#000000;
	border:1px solid #64585f;
	background-color: #FFFFFF;
	text-align: left;
	padding-left: 20px;
	font-weight:normal;
}

table.form td.right,table.list td.right,table.form-list td.right, table.form-list td.right, table.list-big td.right
{
	text-align:right;
}

table.form td.left,table.list td.left,table.form-list td.left ,table.form td.left
{
	text-align:left;
}

table.form td.center,table.list td.center,table.form-list td.center
{
	text-align:center;
}

table.form td.nowrap,table.list td.nowrap,table.form-list td.nowrap,
table.form th.nowrap,table.list th.nowrap,table.form-list th.nowrap
{
	white-space: nowrap;
}

/* table form */

table.form td
{
	font-weight:normal;
	background-color: #d9dbdf;
	color:#000000;
	border:0px;
}


table.form th
{
	background-color:#f0933c;
	font-weight:bold;
	border-top:1px solid #ffffff;
	color:#ffffff;
	text-align:right;
	width:100px;
}

table.form th.center
{
	background-color:#f0933c;
	font-weight:bold;
	border-top:1px solid #ffffff;
	color:#ffffff;
	text-align:center;
	width:100px;
}

/* table list */
table.list td
{
	border-bottom:1px solid #d9dbdf;
//	background-color: #FFFFFF;
	font-weight:normal;
	color:#000000;
}

table.list th
{
	background-color:#f0933c;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	width:100px;
}

table.list th.th-0
{
  width:20px;
}


table.list td.num , table.list-big td.num
{
	text-align:right;
        white-space: nowrap;
}

table.list tr.even td
{
	color: #000000;
	background:#eaf4ff;
}

table.form-list tr.even td
{
	color: #000000;
	background:#eaf4ff;
}

/* table form-list */


table.form-list td
{
	border-bottom:1px solid #FFFFFF;
	color: #000000;
	background-color: #FFFFFF;
	padding-left:2px;
	padding-bottom:1px;
	text-align:left;
}

table.form-list th
{
	border-right:1px solid #ffffff;
	border-bottom:1px solid #d9dbdf;
	color: #FFFFFF;
	background-color:#f0933c;
	padding:1px;
	text-align:center;
	font-weight:bold;
	font-size:10px;
	height:15px;
}

table.form-list td.button
{
	height:15px;
}

table.form td.drag_and_drop_file{
    border-style: dashed;
    border-width: 2px;
    border-color: #978A92;
}

table.list td.red
{
	text-align: right;
	color: #FF0000;
	font-weight:bold;
}

table.list td.is_red
{
	background-color: #FFB7B7;
}
table.list td.is_yellow
{
	background-color: #FCF169;
}

table.form-list td.cal {
    /*display:block;*/
    position:relative;
    width: 92px;
    white-space: nowrap;
}
table.form-list th.cal {
    width: 100px;
    margin-right:20px;
    
}

/* input, select, textarea, radiobutton, checkbox fields */

input, select, textarea
{
	color: #000000;
	background-color:#ffffff;
	border:1px solid #64585f;
}


/* select-one */
select.select-mini {width: 35px;}
select.select-mini2 {width: 50px;}
select.select-0 {width: 75px;}
select.select-1 {width:105px; }
select.select-2 {width:155px; }
select.select-3 {width:245px; }

/* input-text */
input.input-t {	width:15px;}
input.input-0 {	width:70px;}
input.input-1 {	width:100px;}
input.input-2 {	width:150px;}
input.input-3 { width:240px;}
input.input-4 { width:440px;}
input.input-d { width:70px;float:left;margin-right:0px;}
input.input-n { width:70px;text-align:right}
input.input-n3 { width:30px;text-align:right}

/* input-checkbox*/
input.cb
{
	border:0px;
	background-color:transparent;
	margin-right:3px;
}


/* input-radio*/
input.radio
{
	background-color:transparent;
	border:0px;
	margin-right:3px;
}

/* CSS2 */
input[type="button"]:hover, input[type="submit"]:hover
{
   border:1px solid #31d80a;
}


input:focus,textarea:focus,select:focus
{
   border:1px solid #31d80a;
}



/* textarea */
textarea.textarea-2 { width:150px;	height: 40px;vertical-align:bottom}
textarea.textarea-3 { width:240px;	height: 40px;vertical-align:bottom}
textarea.textarea-3-2 {width:240px;height: 80px;vertical-align:bottom}
textarea.textarea-4-3 {width:340px;height: 120px;vertical-align:bottom}

/* input-button */
input.button-0, input.button-1,input.button-2, input.button-s,input.button-href
{
	background-image:url('../images/button_bg.gif');
	background-repeat:repeat-x;
	color: #000000;
	background-color:#cccccc;
	border:1px solid #000000;
	height: 18px;
	margin: 0px 2px 0px 2px;
	text-align:center;
	cursor:pointer;
	font-weight:bold;
	font-size:10px;
	padding-bottom:2px;
}

button.button-0, button.button-1,  button.button-2, button.button-s, button.button-href
{
	background-image:url('../images/button_bg.gif');
	background-repeat:repeat-x;
	color: #000000;
	background-color:#cccccc;
	border:1px solid #000000;
	height: 30px;
	margin: 0px 2px 0px 2px;
	text-align:center;
	cursor:pointer;
	font-weight:normal;
	font-size:13px;
	padding-bottom:2px;
}

input.button-href, input.button-href-3
{
	text-align:left;
	color:#64585f;
	background-color: #d9dbdf;
	text-decoration: underline;
	float:left;
	background-image:none;
	border:0px;
}

input.button-href-3{
    width: 300px;
}

input.button-tab,input.button-tab-sel
{
	background-color:#ffffff;
	background-image:url('../images/tab_bg.gif');
	background-repeat:no-repeat;
	width:140px;
	height:20px;
	font-weight:bold;
	border:1px solid #000000;
	color:#000000;
	margin:3px;
	cursor:pointer;
}

input.button-tab-sel
{
	background-image:url('');
	background-color:#f0933c;
	color:#ffffff;
	border:0px solid #000000;
}

input.button-delete,input.button-add,input.button-more,input.button-cal,input.button-expand,input.button-find,input.button-check,input.button-more,
input.button-edit,input.button-refresh,input.button-change ,input.button-link ,input.button-copy
{
	background-image:url('../images/delete.gif');
	width:17px;
	height:17px;
	text-align:center;
	vertical-align:middle;
	padding-bottom:2px;
	margin: 0px 2px 0px 2px;
	background-color:transparent;
	border:0px solid #000000;
	background-repeat:no-repeat;
	cursor:pointer;
}

input.button-add{background-image:url('../images/add.gif');}
input.button-delete{background-image:url('../images/delete.gif');}
input.button-find{background-image:url('../images/find.gif');}
input.button-check{background-image:url('../images/check.gif');}

input.button-link
{
	width:14px;
	height:14px;
	margin: 0px 0px 0px 0px;
	background-image:url('../images/more.gif');
}

input.button-change
{
	background-image:url('../images/change.gif');
	width:16px;
	height:17px;
	margin: 0 4px 0 0;
	border:0px;
}

input.button-more
{
	background-image:url('../images/details.gif');
	background-position:center;
	width:30px;
}

input.button-cal
{
	background-image:url('../images/calendar.gif');
        width:16px;
	height:16px;
	margin: 0px 0px 2px 0px;
}

input.button-expand
{
	background-image:url('../images/expand.gif');
	width:16px;
	height:16px;
	margin:0px;
}

input.button-refresh
{
	background-image:url('../images/refresh.gif');
	width:16px;
	height:16px;
	margin:0px;
}

input.button-edit
{
	background-image:url('../images/edit3.gif');
	border:0px;
	width:18px;
	height:16px;
	margin:0px;
}

input.button-print
{
	background-image:url('../images/print.gif');
	background-position:5px;
	background-repeat:no-repeat;
	background-color:#F4F4F4;
	margin: 0px 2px;
	width:110px;
	height:18px;
	padding-bottom:2px;
	padding-left: 21px;
	font-weight:bold;
	color:#666666;
	cursor: pointer;
        font-size: 10px;
}

input.button-email
{
	background-image:url('../images/email.gif');
	background-position:5px;
	background-repeat:no-repeat;
	background-color:#F4F4F4;
	margin: 0px 2px;
	width:110px;
	height:18px;
	padding-bottom:2px;
	padding-left: 21px;
	font-weight:bold;
	color:#666666;
	cursor: pointer;
}

input.button-table
{
	background-image:url('../images/table.png');
	border:0px;
	width:16px;
	height:16px;
	margin:1px;
}

input.button-active
{
	background-image:url('../images/active.gif');
        background-repeat:no-repeat;
	border:0px;
	width:16px;
	height:16px;
	margin:1px;
}

input.button-copy
{
	background-image:url('../images/page_copy.png');
        background-repeat:no-repeat;
	border:0px;
	width:16px;
	height:16px;
	margin:1px;
}

input.button-cancel {
    background: url("/images/cancel.gif") no-repeat scroll 0 0 transparent;
}
input.button-save {
    background: url("/images/save.gif") no-repeat scroll 0 0 transparent;
}
input.button-edit2 {
    background: url("/images/edit2.gif") no-repeat scroll 0 0 transparent;
}
input.button-save, input.button-edit2, input.button-cancel, input.button-excel {
    border: medium none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    font-family: Verdana;
    font-size: 11px;
    padding: 1px 0 1px 2px;
}

input.button-excel{
    background:url('/images/excel.gif');
    height: 18px;
    width: 18px;
    padding: 0 0 0 0;
}

input.button_large{
	width:150px;    
}

input.button-delete:hover
{
   border:1px solid red;
}

/*tie kuriem nevajag raadiit hover*/
input.button-href:hover,input.button-expand:hover,input.button-cal:hover
{
   border:0px;
}

input.button-state
{
	cursor: pointer;
	color: #000;
	background: #DDD;
	margin: 2px 0px;
}

input.button-s
{
	height: 15px;
	font-size:10px;
}

input.button-0
{
	height: 15px;
	background-image:none;
	width:70px;
	font-size:9px;
}

input.button-0b
{
	height: 15px;
	width:70px;
	font-size:9px;
}

input.button-01
{
	height: 15px;
	background-image:none;
	width:90px;
	font-size:9px;
}

input.button-1
{
	width:100px
}

input.button-2
{
	width:150px
}

input.button-0:disabled, input.button-1:disabled,input.button-2:disabled 
{
	background: #F4F4F4;
	color: #c0c0c0
}


table.form-list td.cal input.input-d {
    text-align:center;
    margin-right: 20px;
    width: 70px;

}
table.form-list td.cal input.button-cal {
    text-align:center;
    margin: 0px 0px 2px -18px;

}

#bct_book_form{
   width: 250;
   height: 200;
   display: block;
  z-index: 9999
}

#dim_tree{
    width: 300px;
    vertical-align: top;
}

#dim_form{
    width: 400px;
    vertical-align: top;
}


.quotation_rejected {
    
    background-color:  #f8cfcb !important; 
}

.quotation_order {
    
    background-color:   #cef8cb !important;  
}

.quotation_warning {
    
    background-color:    #fad594 !important;  
}

@media print {

.printhide {display: none!important;}
div#topmenu_background{display:none;}
div#topmenu{display:none;}
div#menu{display:none;}
div.logout{display:none;}
div.tool{display:none;}
div#command{display:none;}
div#small{display:none;}
td.curruser_td{display:none;}
td.subsubmenu_td{display:none;}
td.submenu_td{display:none;}
td.topmenu_td{display:none;}
td.button{display:none;}

div#tl_content{display:block;margin:0;padding:0;position:absolute;top:0;left:0;}

/*div#big{display:block;margin:0;position:absolute;top:0;left:0;width:632px;}*/
div#big{position: relative;display:block;margin:0;left:0;top:0}
}

/* Select2 style */
.select2.select2-container li {
	font-size: 12px;
}

.select2.select2-container .select2-selection--multiple {
	min-height: 30px;
	padding-bottom: 5px;
}