/* COMMON */
/* 

#d9dbdf light blue 
#64585f link/border,subsection text 
#f0933c redorange 
#978a92 section 
#cfd6e6 subsection,button bg 

*/
a.paging:link,a.paging:visited
{
	color:#ffffff;
}

form{margin:0;padding:0;}

/* formu sadaïa */

/* table common */
table.form,table.form-0,table.list,table.form-list,table.empty
{
	width:100%;
	margin:0px;
	border-collapse:collapse;
}

table.form td,table.form-0 td,table.form th,table.form-0 th, table.list td, table.list th , table.list td 
{
	height:20px;
	padding:1px;
	padding-left:2px;
}

table.form td.section,table.form-0 td.section, table.list td.section, table.form-list td.section
{
	/*background-image:url('../images/iban_img/bg_header.gif');
	background-repeat:repeat-x;
	background-position:center;*/
	background-color:#978a92;
	padding-left:20px;
	height: 20px;
	color:#ffffff;
	text-align: left;
	font-weight:bold;
	font-size:10px;
	border:1px solid #ffffff;
	border-right:0px;
	border-left:0px;
}

table.form td.subsection,table.form-0 td.subsection, table.list td.subsection, table.form-list td.subsection
{
	/*background-image:url('../images/iban_img/bg_header.gif');
	background-repeat:repeat-x;
	background-position:center;*/
	background-color:#d9dbdf;
	padding-left:20px;
	height: 20px;
	color:#64585f;
	text-align: left;
	font-weight:bold;
	font-size:10px;
	border-top:1px solid #ffffff;
}

table.form td.button,table.form-0 td.button, table.list td.button, table.form-list td.button
{
	background-color: #d9dbdf;
	border-top:1px solid #64585f;
	border-bottom:1px solid #FFFFFF;
	height: 25px;
	vertical-align:middle;
	padding-right:20px;
	text-align:right;
}

table.form td.bottom,table.form-0 td.bottom,table.list td.bottom,table.form-list td.bottom 
{
	background-image:url('../images/iban_img/bg_light_blue_grad.gif');
	background-repeat:repeat-x;
	background-position:top;
	background-color: #F7FBFF;
	height:44px;
	border:0px;
}

table.form td.info
{
	height: 35px;
	color:#000000;
	border:1px solid #64585f;
	background-color: #FFFFFF;
	text-align: left;
	padding-left: 20px;
	font-weight:normal;
}

table.form td.right,table.form-0 td.right,table.list td.right,table.form-list td.right
{
	text-align:right;
}

table.form td.center,table.form-0 td.center,table.list td.center,table.form-list td.center
{
	text-align:center;
}

/* table form */
table.form,table.form-0 
{
	background-image:url('../images/iban_img/bg_orange_vertical.gif');
	background-repeat:repeat-x;
}

table.form-0
{
	background-image:url('../images/iban_img/bg_orange_vertical_short.gif');
}

table.form td,table.form-0 td
{
	font-weight:normal;
	background-color: #d9dbdf;
	color:#000000;
	border:0px;
}


table.form th,table.form-0 th
{
	background-color:#f0933c;
	font-weight:bold;
	border-top:1px solid #ffffff;
	color:#ffffff;
	text-align:right;
	width:100px;
}

/* table list */
table.list 
{
	background-image:url('../images/iban_img/bg_orange_horizontal.gif');
	background-repeat:repeat-y;
}

table.list td
{
	border-bottom:1px solid #d9dbdf;
	background-color: #FFFFFF;
	font-weight:normal;
	color:#000000;
}

table.list th
{
	background-color:#f0933c;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	width:100px;
}

table.list td.num
{
	text-align:right;
}

table.list tr.even td
{
	background:#eaf4ff;
}

table.form-list tr.even td
{
	background:#eaf4ff;
}

/* table form-list */

table.form-list 
{
	background-image:url('../images/iban_img/bg_orange_horizontal.gif');
	background-repeat:repeat-y;
	background-color:#f0933c;

}

table.form-list td
{
	border-bottom:1px solid #FFFFFF;
	background-color: #FFFFFF;
	padding-left:2px;
	padding-bottom:1px;
	text-align:left;
}

table.form-list th
{
	border-right:1px solid #ffffff;
	border-bottom:1px solid #d9dbdf;
	background-color:transparent;
	padding:1px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	font-size:10px;
	height:15px;
}

table.form-list td.button 
{
	height:15px;
}

/* div paging */

div.paging 
{
	float:right;
}

div.paging div,div.sel
{
	width:17px;
	height:20px;
	float:left;
	background-color:transparent;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
	padding-top:3px;
}

div.paging div.sel
{
	color:#000000;
	background-image:url('../images/iban_img/bg_page.gif');
	background-repeat:no-repeat;
	background-position:center;

}


/* input, select, textarea, radiobutton, checkbox fields */


input, select, textarea
{
	background-color:#ffffff;
	border:1px solid #64585f;
}


/* select-one */
select.select-0 {width: 75px;}
select.select-1 {width:105px; }
select.select-2 {width:155px; }
select.select-3 {width:245px; }

/* input-text */
input.input-t {	width:15px;}
input.input-0 {	width:70px;}
input.input-1 {	width:100px;}
input.input-2 {	width:150px;}
input.input-3 { width:240px;}
input.input-4 { width:340px;}
input.input-d { width:70px;float:left;margin-right:0px;}
input.input-n { width:70px;text-align:right}

/* input-checkbox*/
input.cb
{
	border:0px;
	background-color:transparent;
	margin-right:3px;
}


/* input-radio*/
input.radio
{
	background-color:transparent;
	border:0px;
	margin-right:3px;
}

/* CSS2 */
input[type="button"]:hover, input[type="submit"]:hover
{
   border:1px solid #31d80a;
}


input:focus,textarea:focus,select:focus
{
   border:1px solid #31d80a;
}



/* textarea */
textarea.textarea-2 { width:150px;	height: 40px;vertical-align:bottom}
textarea.textarea-3 { width:240px;	height: 40px;vertical-align:bottom}
textarea.textarea-3-2 {width:240px;height: 80px;vertical-align:bottom}
textarea.textarea-4-3 {width:340px;height: 120px;vertical-align:bottom}

/* input-button */
input.button-0, input.button-1,input.button-2, input.button-s,input.button-href
{
	background-image:url('../images/button_bg.gif');
	background-repeat:repeat-x;
	background-color:#cccccc;
	border:1px solid #000000;
	height: 18px;
	margin: 0px 2px 0px 2px;
	text-align:center;
	cursor:pointer;
	font-weight:bold;
	font-size:10px;
	padding-bottom:2px;
}

input.button-s
{
	height: 15px;
	font-size:10px;
}

input.button-0
{
	height: 15px;
	background-image:none;
	width:70px;
	font-size:9px;
}

input.button-1
{
	width:100px
}

input.button-2
{
	width:150px
}

input.button-href
{
	border:1px;
	text-align:left;
	color:#64585f;
	text-decoration: underline;
	float:left;
	background-image:none;
	background-color:transparent;
	border:0px;
}

input.button-tab,input.button-tab-sel
{
	background-color:#ffffff;
	background-image:url('../images/tab_bg.gif');
	background-repeat:no-repeat;
	width:140px;
	height:20px;
	font-weight:bold;
	border:1px solid #000000;
	color:#000000;
	margin:3px;
}

input.button-tab-sel
{
	background-image:url('');
	background-color:#f0933c;
	color:#ffffff;
	border:0px solid #000000;
}

input.button-delete,input.button-add,input.button-more,input.button-cal,input.button-expand,input.button-find,input.button-check,input.button-more,
input.button-edit,input.button-refresh,input.button-change
{
	background-image:url('../images/delete.gif');
	background-repeat:no-repeat;
	width:17px;
	height:17px;
	text-align:center;
	vertical-align:middle;
	padding-bottom:2px;
	margin: 0px 2px 0px 2px;
	background-color:transparent;
	border:0px solid #000000;
	background-repeat:no-repeat;
	cursor:pointer;
}

input.button-add{background-image:url('../images/add.gif');}
input.button-delete{background-image:url('../images/delete.gif');}
input.button-find{background-image:url('../images/find.gif');}
input.button-check{background-image:url('../images/check.gif');}

input.button-change
{
	background-image:url('../images/change.gif');
	width:16px;
	height:17px;
	margin:0px;
	border:0px;
}

input.button-more 
{
	background-image:url('../images/details.gif');
	background-position:center;
	width:30px;
}

input.button-cal
{
	background-image:url('../images/calendar.gif');
	margin:0px;
	margin-bottom:2px;
}

input.button-expand
{
	background-image:url('../images/expand.gif');
	width:16px;
	height:16px;
	margin:0px;
}

input.button-refresh
{
	background-image:url('../images/refresh.gif');
	width:16px;
	height:16px;
	margin:0px;
}

input.button-edit
{
	background-image:url('../images/edit3.gif');
	border:0px;
	width:18px;
	height:16px;
	margin:0px;
	border:0px;
}

input.button-print
{
	background-image:url('../images/print.gif');
	background-position:left;
	background-repeat:no-repeat;
	background-color:#F4F4F4;
	width:110px;
	height:18px;
	margin:0px;
	padding-bottom:2px;
	font-weight:bold;
	color:#666666;
}

input.button-delete:hover
{
   border:1px solid red;
}

/*tie kuriem nevajag raadiit hover*/
input.button-href:hover,input.button-expand:hover,input.button-cal:hover
{
   border:0px;
}





